# Blockchain Explorers API Keys
ARBISCAN_API_KEY=
AURORA_API_KEY=
BLOCKSCOUT_API_KEY="0x00000000000000000000000000000000"
BSCSCAN_API_KEY=
ETHERSCAN_API_KEY=
GOERLI_ETHERSCAN_API_KEY=
SEPOLIA_ETHERSCAN_API_KEY=
FTMSCAN_API_KEY=
HARMONY_POPS_API_KEY="0x00000000000000000000000000000000"
HECOINFO_API_KEY=
MOONSCAN_API_KEY=
SNOWTRACE_API_KEY=
POLYGONSCAN_API_KEY=

# RPC URLs
ARBITRUM_TESTNET_RPC_URL="https://rinkeby.arbitrum.io/rpc"
AURORA_TESTNET_RPC_URL="https://testnet.aurora.dev"
AVALANCHE_FUJI_TESTNET_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
BSC_TESTNET_RPC_URL="https://data-seed-prebsc-1-s1.binance.org:8545" # https://data-seed-prebsc-{1,2}-s{1,2,3}.binance.org:8545
FTM_TESTNET_RPC_URL="https://rpc.testnet.fantom.network"
GOERLI_RPC_URL="https://goerli.infura.io/v3/<YOUR_INFURA_KEY>"
SEPOLIA_RPC_URL="https://sepolia.infura.io/v3/<YOUR_INFURA_KEY>"
HARMONY_TEST_RPC_URL="https://api.s0.b.hmny.io"
HECO_TESTNET_RPC_URL="https://http-testnet.hecochain.com"
MOONBASE_ALPHA_RPC_URL="https://rpc.api.moonbase.moonbeam.network"
POLYGON_MUMBAI_RPC_URL="https://rpc-mumbai.matic.today"
SOKOL_RPC_URL="https://sokol.poa.network"

# Services API Keys
COINMARKETCAP_API_KEY=
GAS_PRICE_API=

# Hardhat
DEPLOYER_WALLET_PRIVATE_KEY="0000000000000000000000000000000000000000000000000000000000000000"
REPORT_GAS=false
SOLIDITY_OPTIMIZER=false
SOLIDITY_OPTIMIZER_RUNS=200
SOLIDITY_VIA_IR=false
ALLOW_UNLIMITED_CONTRACT_SIZE=false
SOLC_VERSION=0.8.18

# Custom Chain Config
CUSTOM_NETWORK_URL=http://localhost:8545
CUSTOM_NETWORK_CHAIN_ID=1337
CUSTOM_NETWORK_API_URL=http://localhost:5555/api
CUSTOM_EXPLORER_API_KEY=0x00000000000000000000000000000000
CUSTOM_NETWORK_BROWSER_URL=http://localhost:5555
CUSTOM_NETWORK_ACCOUNTS_COUNT=10
CUSTOM_NETWORK_ACCOUNTS_MNEMONIC=foo foo foo foo foo foo foo foo foo foo foo foo
CUSTOM_NETWORK_ACCOUNTS_PATH="m/44'/60'/0'/0"

# TS Node
TS_NODE_TRANSPILE_ONLY=
TS_NODE_FILES=
